body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;
}

.tabuleiros {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    background-color: #e9e9e9;
    cursor: default;
}

.cell.clicavel {
    cursor: crosshair; /* Cursor atualizado */
}

.cell.destaque { 
    background-color: red; /* Acertos ficam vermelhos */
    border: 2px solid #900;
}

.cell.erro { 
    background-color: blue; /* Erros ficam azuis */
    border: 2px solid #003366;
}

.navios-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.navio img {
    width: 60px;
    height: auto;
}

.navio p {
    font-size: 12px;
    margin-top: 3px;
}

.console-log {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
}
